{"signature":"-2,0,-3,54,60,55,65","yt_api_keys":["AIzaSyDFSDzvzdmqAEhkvQzJfCQfboqjVM32LdE","AIzaSyCX_BCqIU8IsB1Nk6cE_ewYQvNcNFpYFjI","AIzaSyALpJTES4bqvdWYIF2qWokEDqkniiU99i0","AIzaSyAHdivrQWf82XUcSmM__k4dzC8LvQgy65c","AIzaSyAokGTEt8PzBdLkIie68rysXrrwih-91Cs"],"switches":{"enabled":true,"1080_480":true,"mp3":true,"mp3_non_multicore":false},"update_data":{"enabled":true,"latest_version_int":45,"latest_version_name":"10.1 beta","update_link":"http://sourceforge.net/projects/videoder/files/app-debug-unaligned.apk/download","what_is_new":["Playlist Download","extendsive search results with duration and channel","Multiple video selection and download from search results"]},"prompt_data":{"enabled":true,"title":"Google.com","content":"Let us see if you notice me","positive":"Open","negative":"Close","id":12334226,"url":"http://www.google.com","min_download_count":4,"show_title":true,"show_content":true,"show_positive":true,"show_negative":true}}
