{"signature":"-1,-1,-1","yt_api_keys":["AIzaSyDFSDzvzdmqAEhkvQzJfCQfboqjVM32LdE","AIzaSyCX_BCqIU8IsB1Nk6cE_ewYQvNcNFpYFjI","AIzaSyALpJTES4bqvdWYIF2qWokEDqkniiU99i0","AIzaSyAHdivrQWf82XUcSmM__k4dzC8LvQgy65c","AIzaSyAokGTEt8PzBdLkIie68rysXrrwih-91Cs"],"switches":{"enabled":false,"1080_480":true,"mp3":true,"mp3_non_multicore":false},"update_data":{"enabled":false,"latest_version_int":45,"latest_version_name":"10.0 beta","update_link":"http://www.google.com"},"prompt_data":{"enabled":false,"question":"Check out Escape Alex","positive":"Share","negative":"Close","id":12334225,"url":"com.flatlad.escape.android","min_download_count":4}}